[submodule "submodules/DepthAnythingV2_docker"]
	path = submodules/DepthAnythingV2_docker
	url = git@github.com:bidbest/DepthAnythingV2_docker.git
[submodule "submodules/gaussian-splatting"]
	path = submodules/gaussian-splatting
	url = git@github.com:graphdeco-inria/gaussian-splatting.git
[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
